
<body style=" background-size:cover;
 height:100%;
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y:scroll">
    <div class='col-sm-2'>
        <nav-menu></nav-menu>
    </div>
    <div style="display:flex">
        <div class="header-row">
            <h1>Upload File</h1>
           
        </div>
       
        
    </div>

    <div style="display:flex; padding-top:25px" class="col-lg-offset-2" >
        <input id="file-field" name="file-field"  type="file" accept=".xlsx, .xltx, .xls" (change)="chooseFile($event)" >
        </div>
    <div style="display:flex" class="col-lg-offset-2" *ngIf="spreadSheets">
        <h3 style="width: auto">Sheet Type:</h3>
        <div class="form-group">
            <div style=" margin-left: 10px; padding-top: 15px">
                <select class="form-control " [(ngModel)]="selectedType"
                        (ngModelChange)="onSelect($event)" style=" width: 42%">
                    <option *ngFor="let spreadSheet of spreadSheets" [ngValue]="spreadSheet" class="">
                        {{spreadSheet.SheetName}}
                    </option>
                </select>
            </div>
        </div>
        
    </div>
    <div class="col-lg-offset-2" style="display:flex; padding-left:25px">
        <button class="btn btn-success" (click)="upload()" >Upload</button>
    </div>
    <div  class="col-lg-offset-2" style="display:flex; padding-left:25px">
        <table table class="table table-hover" style="width: 75%; height:100%" *ngIf="files">
            <caption>Uploaded Files</caption>
            <thead>
                <tr>
                    <th>File Type</th>
                    <th>Name</th>
                    <th>By</th>
                    <th>Date </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileUpload of files">     
                    <td>{{ fileUpload.FileType }}</td>
                    
                    <td> {{fileUpload.name}}</td>
                    <td>
                        {{fileUpload.UploadedBy}}
                    </td>
                   
                    <td>
                        {{fileUpload.UploadedTime | date : "fullDate" }}
                    </td>
                    
            </tbody>
        </table>
    </div>
  

    </body>