
<body style=" background-size:cover;
 height:100%;
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y:scroll">
    <div class='col-sm-2'>
        <nav-menu></nav-menu>
    </div>
    <div style="display:flex">
        <div class="header-row">
            <h1>Upload File</h1>
           
        </div>
       

    </div>
    <div style="display:flex" class="col-lg-offset-2">
        <input id="file-field" name="file-field"  type="file" accept=".xlsx, .xltx, .xls">
        <select>
            <options>select</options>
        </select>
    </div>

    </body>