
<body style=" background-size:cover;
 height:100%;
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y:scroll">
    <div class='col-sm-2'>
        <nav-menu></nav-menu>
    </div>
    <div style="display:flex">
        <div class="header-row">
            <h1>Upload File</h1>
           
        </div>
       

    </div>
    <div style="display:flex" class="col-lg-offset-2" *ngIf="spreadSheets">
        <input id="file-field" name="file-field"  type="file" accept=".xlsx, .xltx, .xls">
            <h3 style="width: auto">Sheet Type:</h3>
            <div class="form-group">
                <div style="width: auto; margin-left: 10px; padding-top: 10px">
                    <select class="form-control " [ngModel]="selectedType"
                            (ngModelChange)="onSelect($event)" style=" width: auto">
                        <option *ngFor="let SpreadSheet of spreadSheets" [ngValue]="spreadSheet" class="">
                            {{SpreadSheet.name}}
                        </option>
                    </select>
                </div>
            </div>
    </div>

    </body>